<html>
<body>
	<form action="/new" method="post">
		Name:<input type="text" name="name" required><br><br>
		Borough:<input type="text" name="borougk"><br><br>
		Cusisine:<input type="text" name="cusisine"><br><br>
		Street:<input type="text" name="street"><br><br>
		Building:<input type="text" name="building"><br><br>
		Zipcode:<input type="text" name="zipcode"><br><br>
		GPS Coordinates (lon.):<input type="text" name="lon"><br><br>
		GPS Coordinates (lat.):<input type="text" name="lat"><br><br>
		Photo:<input type="file" name="photo"><br><br>
		<!-- Owner:<input type="text" name="owner"><br><br> -->
	<input type="submit" Value="create">
	</form>
</body>
</html>
<!-- <html>
<body>
	<form action="/new" method="post" enctype="multipart/form-data">

		Name:<input type="text" name="name"><br><br>
		Borough:<input type="text" name="borougk"><br><br>
		Cusisine:<input type="text" name="cusisine"><br><br>
		Street:<input type="text" name="street"><br><br>
		Building:<input type="text" name="building"><br><br>
		Zipcode:<input type="text" name="zipcode"><br><br>
		GPS Coordinates (lon.):<input type="text" name="lon"><br><br>
		GPS Coordinates (lat.):<input type="text" name="lat"><br><br>
		Photo:<input type="file" name="photo"><br><br>
		Owner:<input type="text" name="owner"><br><br>

	<input type="submit" Value="create">
	</form>
</body>
</html> -->
